[package]
name = "fgift"
version = "0.2.0"
authors = ["Sam Schlinkert <sschlinkert@gmail.com>"]
edition = "2018"

[dependencies]
rand = "0.5"
csv = "1"
# eyeoh = { git = "https://github.com/sts10/eyeoh" } 
structopt = "0.2"
